html {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #fabada;
  height: 100%;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.series {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fav-series {
  list-style: none;
  background: rgb(3, 3, 82);
  color: #fabada;
  padding: 0px;
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
  max-width: 140px;
}

.serie {
  &__element {
    background: fuchsia;
    padding: 10px;
    margin: 10px;
    max-height: 350px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    text-transform: none;
  }
  &__title {
    color: rgb(3, 3, 82);
    text-align: center;
  }
  &__image {
    width: 100px;
  }
}

.serie__element--fav {
  background: rgb(3, 3, 82);
  padding: 10px;
  margin: 10px;
  max-height: 350px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

.serie__element--fav .serie__title {
  color: fuchsia;
}

.delete-button {
  box-sizing: border-box;
  border: solid black 2px;
  background: red;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
